<h2>Edit a workout</h2>
<br>
<form method="post" action="/workouts/<%= @workout.id %>">
<input type="hidden" id="hidden" name="_method" value="patch">
    <label>New Workout Name: <input type="text" name="name" value="<%= @workout.name %>"></label><br>
    <label>Workout Type: <input type="text" name="workout_type" value="<%= @workout.workout_type %>"></label><br>
    <label>Aproximate Time to complete: <input type="integer" name="time" value="<%= workout.time %>" %>><br>
    <input type="submit">
</form>