<h1>Login or Signup Error</h1>
<p>Something went wrong when you attempted to sign up or log in.</p><br>
<p>Please attempt to sign up or log in below.</p>
<p><a href="/signup">Sign Up</a><br><a href="/login">Log In</a>