
    <h2>Daily Workout Log</h2>

    <div class="content">
      <p>Welcome to the my daily workout log. You can log in or sign up below</p>

      <p><a href="/signup">Sign Up</a><br><a href="/login">Log In</a>
    </div>




